body {
  background-image: url("ss.jpg");
  background-size: 100%;
  background-color: #000;
  font-family: sans-serif;
}

#header {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
}

#header h1, h2 {
  color: white;
}

#header h1 {
  font-size: 50px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

#content table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#content th, td {
  border: 2px solid #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#content th {
  font-size: 20px;
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

#content td {
  background-color: rgba(255, 255, 255, .8);
  font-size: 18px;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  height: 50px;
  text-align: right;
}
